/* ===== Scrollbar for Chrome, Edge, Safari ===== */
/* ====== SCROLL BAR  Premium Look ====== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2b2b2b, #1a1a1a);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1ed760, #17c653);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2b2b2b #0f0f0f;
}

/* ====== SCROLL BAR  Dark Website ====== */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #121212; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e; /* Dark gray thumb */
  border-radius: 10px;
  border: 3px solid #121212; /* Creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #1ed760; /* Green highlight on hover */
}

/* UTLITY CLASSES */

.border {
  border: 2px solid red;
  margin: 3px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.invert {
  filter: invert(1);
}

.bg-gray {
  background-color: #121212;
}

.bg-black {
  background-color: black;
  color: white;
}

.rounded {
  border-radius: 10px;
}

.m-1 {
  margin: 5px;
}

.p-1 {
  padding: 10px;
}
